.gk-card--flat {
    @include mdc-card-fill-color(#f8f9fa);
    @include mdc-elevation(0);

    color: #5f6368;
}

.gk-card__media--text-title {
    font-size: 16px;

    .gk-card__media--text-headline {
        @include mdc-typography(headline5);
    }

    .gk-card__media--text-subtitle {
        @include mdc-typography(subtitle2);
    }
}

.gk-card__media--text {
    min-height: 5rem;
    padding: 1rem;

    .gk-card__media--text-body {
        @include mdc-typography(body1);

        padding-top: .5rem;
    }
}

.gk-card__error {
    padding: 8px;
    color: #db3236;
}