.mdc-card {
    border-radius: $corner-radius;

    &.mdc-card--outlined.mdc-list {
        margin: 0;
        padding: 0;
    }
}

.gk-card--flat {
    @include mdc-card-fill-color(#f8f9fa);
    @include mdc-elevation(0);

    color: #5f6368;

    .gk-card__media--text-title .gk-card__media--text-headline {
        @include mdc-typography(headline6);
        font-family: 'Display Sans';
        font-weight: bold;
    }
}

.gk-card__media--text-title {
    font-size: 16px;

    .gk-card__media--text-headline {
        @include mdc-typography(headline5);
        font-family: 'Display Sans';
    }

    .gk-card__media--text-subtitle {
        @include mdc-typography(subtitle2);
    }
}

.gk-card__media--text {
    min-height: 5rem;
    padding: 1rem;

    .gk-card__media--text-body {
        @include mdc-typography(body1);

        padding-top: .5rem;
        word-wrap: break-word;
    }
}

.gk-card--expandable {
    position: relative;

    .gk-card__media--text {
        padding-right:3rem;
    }

    .gk-card__toggle {
        position: absolute;
        transform: translateY(100%);
        right: 1.5rem;
        color: $gk-color--secondary;
        z-index: 1;

        cursor: pointer;
    }

    .gk-card__toggle--content {
        padding: 0;
        margin: 0;
        transition: height .2s;
        overflow: hidden;
    }

    .gk-card__media--text + .mdc-card__actions {
        padding-bottom: 0;
    }

    .mdc-card__actions {
        border-top: 1px solid #e0e0e0;
    }
}

.gk-card__error {
    padding: 8px;
    color: #db3236;
}
