@import "@material/chips/mdc-chips";

.mdc-chip.gk-chip--success {
    @include gk-content--success;
    @include gk-typography--color__success;

    .mdc-chip__icon {
        @include gk-typography--color__success;
    }
}

.gk-tagline {
    font-size: 16px;
    display: flex;

    &.mdc-list-item__secondary-text {
        font-size: 14px;

        .material-icons {
            font-size: 14px;
        }
    }

    .gk-tagline__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        color: $gk-color--secondary-text;

        &.gk-tagline__item--text {
        }

        .material-icons {
            font-size: 16px;
            margin-right: 4px;
        }

        .gk-tagline__item--content {
        }
    }

    .gk-tagline__divider {
        display: inline-flex;
        margin: 4px;

        &:before {
            content: '\00b7';
        }
    }
}
