.gk-typography {
    font-family: 'Product Sans', 'Open Sans', sans-serif;
    font-size: 16px;
}

@mixin gk-typography--color__error {
    color: $gk-color--error;
}

@mixin gk-typography--color__success {
    color: $gk-color--success;
}

.gk-typography--color__error {
    @include gk-typography--color__error();
}

.gk-typography--color__success {
    @include gk-typography--color__success();
}

.gk-typography--role__administrator {
    @include gk-typography--color__error();
}