.gk-validation {
    &.gk-validation--failed {
        .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
            .mdc-text-field__input {
                border-color: $gk-color--error;
            }

            .mdc-floating-label {
                color: $gk-color--error;
            }
        }

        .mdc-text-field--textarea:not(.mdc-text-field--disabled) {
            border-color: $gk-color--error;

            .mdc-floating-label {
                color: $gk-color--error;
            }
        }

        .mdc-text-field-helper-text.mdc-text-field-helper-text--validation-msg{
            color: $gk-color--error;
        }
    }
}