/* Colors */
$gk-color--primary: #1a73e8;
$gk-color--secondary: #9e9e9e;
$gk-color--secondary-text: #5f6368;
$gk-color--background: #fff;

$gk-color--success: #266120;
$gk-color--error: #db3236;

$gk-color__background--success: lighten($gk-color--success, 70%);

/* Shape */
$corner-radius: 4px;

/* Typography */
$mdc-typography-styles-headline2: (
    font-family: 'Display Sans',
);

$mdc-typography-styles-headline3: (
    font-family: 'Display Sans',
    font-size: 24px,
    font-weight: normal,
    line-height: normal,
    color: darken($gk-color--secondary-text, 25%),
);

$mdc-typography-styles-headline4: (
    font-family: 'Display Sans',
    font-size: 20,
    font-weight: normal,
    line-height: normal,
    color: darken($gk-color--secondary-text, 25%),
);

$mdc-typography-styles-overline: (
    color: $gk-color--secondary-text,
);
