@import "variables";

$mdc-theme-primary: $gk-color--primary;
$mdc-theme-secondary: $gk-color--secondary;
$mdc-theme-background: $gk-color--background;

@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/elevation/mdc-elevation";
@import "@material/snackbar/mdc-snackbar";
@import "@material/typography/mdc-typography";
@import "@material/form-field/mdc-form-field";
@import "@material/textfield/mdc-text-field";
@import "@material/dialog/mdc-dialog";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";

@import "content";
@import "typography";
@import "fonts";
@import "card";
@import "chip";
@import "validation";
@import "list";

body {
    margin: 0;
}

.gk-top-app-bar {
    @include mdc-top-app-bar-ink-color(#000);
    @include mdc-top-app-bar-fill-color(#fff);
    
    .mdc-top-app-bar__navigation-icon,.mdc-top-app-bar__action-item {
        color: #000;
    }
}

// Pulls the next row closer to this one
.gk-layout-grid__cell--short {
    margin-bottom: -1.5rem;
}

.gk-layout-grid__cell--hidden-phone {
    display: none;
}

@media (min-width: #{map-get($mdc-layout-grid-breakpoints, tablet)}) {
    .gk-layout-grid__cell--hidden-phone {
        display: inherit;
    }
}

.gk-content {
    padding-top: 80px;
}

.gk-button__error {
    --mdc-theme-primary: $gk-color--error;
}

.gk-button__success {
    --mdc-theme-primary: $gk-color--success;
}

.gk-button {
    @include mdc-button-corner-radius($corner-radius);

    font-size: 12px;
}

.gk-linear-progress {
    border-radius: 4px;
}

.gk-landing--container {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(35%, 40%);
    width: 80%;
}
